<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thundersoft.bookstore">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.ShowMessageActivity"></activity>
        <activity android:name=".activity.AddMessageActivity" />
        <activity android:name=".activity.MessageActivity" />
        <activity android:name=".activity.AddBookActivity" />
        <activity android:name=".activity.AddBookListActivity" /> <!-- 书籍管理页面 -->
        <activity android:name=".activity.BookManagementActivity" /> <!-- 修改信息页面 -->
        <activity android:name=".activity.ChangeInfoActivity" /> <!-- 个人中心页面 -->
        <activity
            android:name=".activity.PersonalActivity"
            android:launchMode="singleInstance" /> <!-- 注册页面 -->
        <activity
            android:name=".activity.RegisterActivity"
            android:launchMode="singleInstance" /> <!-- 登录页面 -->
        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".provider.BookContentProvider"
            android:authorities="com.thundersoft.bookstore.provider"
            android:enabled="true"
            android:exported="true" /> <!-- 书籍详情显示页面 -->
        <activity
            android:name=".activity.BookActivity"
            android:theme="@style/BookActivityTheme" /> <!-- 主页面 -->
        <activity android:name=".activity.MainActivity" />
    </application>

</manifest>